@viewport{zoom:1.0;width:device-width;}
@-ms-viewport { width: device-width; }
body { -ms-overflow-x:hidden; overflow-X:hidden; }
@media only screen and (min-width: 1200px) { html { font-size: 12px; } }
@media only screen and (min-width: 992px) { html { font-size: 11px; } }
@media only screen and (min-width: 0) { html { font-size: 10px; } }
.navbar-fixed { height: 50px; }
nav { color: #fff; background-color: #000; width: 100%; height: 50px; line-height: 50px; }
nav ul a { font-family: 'Raleway', sans-serif; font-size: 1.2em; letter-spacing: 1.5px; }
nav a.button-collapse, nav a.button-collapse i { height: 50px; line-height: 50px; }
nav .hide-on-med-and-down a { text-align: center; }
nav .hide-on-med-and-down .active a, nav .hide-on-med-and-down a:hover { color: #cc3838; -webkit-transition: 0.4s; -moz-transition: 0.4s; -o-transition: 0.4s; -ms-transition: 0.4s; transition: 0.4s; }
h1 {font-size: 3.3em;}
h2 {font-size: 3em;}
h3 {font-size: 2.4em;}
h4 {font-size: 1.8em;}
h5 {font-size: 1.5em;}
p { font-size: 1.45em; }
.row { margin-left: auto; margin-right: auto; }
.displayinitial { display: initial !important; }
.marginauto{ margin: auto; }
.margintop100 { margin-top: 100px }
.margintop75 { margin-top: 75px }
.margintop50 { margin-top: 50px }
.margintop25 { margin-top: 25px }
.margintop10 { margin-top: 10px }
.margintop5 { margin-top: 5px }
.marginbot0 { margin-bottom: 0px; }
.marginbot10 { margin-bottom: 10px; }
.marginbot25 { margin-bottom: 25px; }
.margintopmenos65 { margin-top:-65px !important; }
.margintopmenos25 { margin-top:-25px !important; }
.marginright25 { margin-right: 25px }
.marginleft25 { margin-left: 25px }
.paddingtop75{ padding-top: 75px; }
.paddingtop50{ padding-top: 50px; }
.paddingtop25{ padding-top: 25px; }
.paddingtop10{ padding-top: 10px; }
.paddingtop1{ padding-top: 1px; }
.paddingbot75{ padding-bottom: 75px; }
.paddingbot50{	padding-bottom: 50px; }
.paddingbot25{	padding-bottom: 25px; }
.paddingbot10{	padding-bottom: 10px; }
.paddingbot0{	padding-bottom: 0px; }
.paddingleft15 { padding-left: 15px; }
.maxwidth100 { max-width: 100px !important; }
.footer { position:relative; z-index:100; background-color:#000; min-height:40px; width:100%;}
.copyright {padding: 5px 0px 0px 0px;font-size:10px;color:white;letter-spacing:3px;font-weight:500;text-align: center; font-family: 'Raleway', sans-serif;}
.zindexmenos1{z-index: -1;}
.zindex1000{z-index: 1000;}
.justify{text-align: justify;}
input[type=text]:focus:not([readonly]) { border-bottom: 1px solid #400C0D; box-shadow: 0 1px 0 0 #400C0D; }
input[type=text]:focus:not([readonly])+label { color:#400C0D; }
.input-field label.active {font-size: 1em;}
textarea.materialize-textarea:focus:not([readonly]){ border-bottom: 1px solid #400C0D; box-shadow: 0 1px 0 0 #400C0D; }
textarea.materialize-textarea:focus:not([readonly])+label{color:#400C0D;}
.input-field label {  font-size: 1.2rem; font-weight: bolder; }
.showxs { display: none; }

@media (max-width:1080px){
    nav ul a { font-family: 'Raleway', sans-serif; font-size: 1.1em; letter-spacing: 1px; }
}
@media (max-width:768px){
    h1 {font-size: 2.9em;}
    h2 {font-size: 2.6em;}
    h3 {font-size: 2.2em;}
    h4 {font-size: 1.7em;}
    h4 {font-size: 1.3em;}
}
@media (max-width:520px){
}
