@viewport{zoom:1.0;width:device-width;}
@-ms-viewport { width: device-width; }
body { -ms-overflow-x:hidden; overflow-X:hidden; font-family: 'Raleway', sans-serif; background-color: #f1f1f1; }
@media only screen and (min-width: 1200px) { html { font-size: 12px; } }
@media only screen and (min-width: 992px) { html { font-size: 11px; } }
@media only screen and (min-width: 0) { html { font-size: 10px; } }
nav { width: 100%; height: 60px; line-height: 45px; border-bottom: 3px solid #EE3825;}
nav ul a { font-family: 'Open Sans', sans-serif; font-size: 1.3em; letter-spacing: 3.5px; color: #111; font-weight: bold; padding: 0px 35px; -webkit-transition: 0.4s; -moz-transition: 0.4s; -o-transition: 0.4s; -ms-transition: 0.4s; transition: 0.4s; }
nav ul li { margin-top: 5px; }
.brand-logo { margin-top: 5px; }
nav a.button-collapse, nav a.button-collapse i { height: 50px; line-height: 50px; }
nav .hide-on-med-and-down a { text-align: center; }
nav .hide-on-med-and-down .active a, nav .hide-on-med-and-down a:hover { color: #EE3825; }
nav .nav-wrapper i, nav a.button-collapse, nav a.button-collapse i {height: 50px; line-height: 50px; }
nav a { color:#4D4C4C; }
h1, h2, h3, h4, h5, h6 { font-family: 'Open Sans', sans-serif; }
p { font-size: 1.45em; }
.row { margin-left: auto; margin-right: auto; }
.displayinitial { display: initial !important; }
.marginauto{ margin: auto; }
.margintop100 { margin-top: 100px }
.margintop75 { margin-top: 75px }
.margintop50 { margin-top: 50px }
.margintop25 { margin-top: 25px }
.margintop10 { margin-top: 10px }
.margintop5 { margin-top: 5px }
.marginbot0 { margin-bottom: 0px; }
.marginbot10 { margin-bottom: 10px; }
.marginbot25 { margin-bottom: 25px; }
.margintopmenos65 { margin-top:-65px !important; }
.margintopmenos25 { margin-top:-25px !important; }
.marginright25 { margin-right: 25px }
.marginleft25 { margin-left: 25px }
.paddingtop75{ padding-top: 75px; }
.paddingtop50{ padding-top: 50px; }
.paddingtop25{ padding-top: 25px; }
.paddingtop10{ padding-top: 10px; }
.paddingtop1{ padding-top: 1px; }
.paddingbot75{ padding-bottom: 75px; }
.paddingbot50{	padding-bottom: 50px; }
.paddingbot25{	padding-bottom: 25px; }
.paddingbot10{	padding-bottom: 10px; }
.paddingbot0{	padding-bottom: 0px; }
.paddingleft15 { padding-left: 15px; }
.padding0 { padding: 0px; }
.maxwidth100 { max-width: 100px !important; }
footer {background-color: white; }
.footer { position:relative; z-index:100; background-color:#4c4c4e; min-height:40px; width:100%;}
.copyright {padding: 5px 0px 0px 0px;font-size:10px;color:white;letter-spacing:3px;font-weight:500;text-align: center; font-family: 'Raleway', sans-serif;}
.zindexmenos1{z-index: -1;}
.zindex1000{z-index: 1000;}
.justify{text-align: justify;}
input[type=text]:focus:not([readonly]) { border-bottom: 1px solid #400C0D; box-shadow: 0 1px 0 0 #400C0D; }
input[type=text]:focus:not([readonly])+label { color:#400C0D; }
.input-field label.active {font-size: 1em;}
textarea.materialize-textarea:focus:not([readonly]){ border-bottom: 1px solid #400C0D; box-shadow: 0 1px 0 0 #400C0D; }
textarea.materialize-textarea:focus:not([readonly])+label{color:#400C0D;}
.input-field label {  font-size: 1.2rem; font-weight: bolder; }
.showxs { display: none; }

/*///////////////////////////////GENERAL//////////////////////////////////////////*/
.width50p {width: 50%;}
.logo { padding: 15px 30px 15px 30px; }
.logo a { height: auto; padding: 0px !important;}
.bordernav { border-right: 3px solid #EE3825; left: -15px; }
.dropdown-content li>a { font-size: 16px !important; line-height: 25px !important; }
.vehiculosnav i { float: right; }
.fondorojo { background-color: #ef3526; }
.fondogris { background-color: #4c4c4e; padding: 0px 10px 20px 20px; }
.fondonegro { background-color: black; }
.letraroja { color: #ef3526; }
.imgfooter { width: 225px; height: 150px; }
.displayflex {display: flex;}
.triangulorojo {border-style: solid; border-width: 150px 0 0 100px; border-color: transparent transparent transparent #ef3526;}
.height150px { height: 150px; }
.minheight165 { min-height: 165px; }
.diagonalstripe {background: -moz-linear-gradient(140deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 39.9%, rgba(0,0,0,0.8) 40%,rgba(0,0,0,0.8) 50%,rgba(0,0,0,0.8) 60%, rgba(0,0,0,0) 60.1%, rgba(0,0,0,0) 100%); background: -webkit-linear-gradient(140deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 39.9%, rgba(0,0,0,0.8) 40%,rgba(0,0,0,0.8) 50%,rgba(0,0,0,0.8) 60%, rgba(0,0,0,0) 60.1%, rgba(0,0,0,0) 100%); background: linear-gradient(140deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 39.9%, rgba(239,53,38,0.8) 40%,rgba(239,53,38,0.8) 50%,rgba(239,53,38,0.8) 60%, rgba(0,0,0,0) 60.1%, rgba(0,0,0,0) 100%); position: absolute; width: 100%; height: 100%; }
.carousel {height: 800px; width: 100%; position: relative; overflow: hidden;}
.carousel img {width: 100%; height: auto;}
.carouselintro { height: calc(100vh - 55px); width: 100%; position: relative; overflow:hidden; }
.carouselintro img { width: 100%; height: auto; }
.gallery-cell { margin-right: 2px; }
.pinned { z-index: 1000; width: 100%;}
.tag{ font-size: 2em; border-bottom: 25px solid #ef3526; border-right: 50px solid transparent; width: 115px; }
.tag span {position: absolute; color: white;}
.bordertopybotrojo { border-top: 10px solid #ef3526; border-bottom: 10px solid #ef3526;}
.bordertoprojo { border-top: 3px solid #ef3526;}
.borderbotrojo { border-bottom: 3px solid #ef3526;}
.flickity-page-dots { display: none; }
.flickity-prev-next-button .arrow { fill: #4c4c4e; }
.flickity-prev-next-button.no-svg { color: #4c4c4e; }
.selec span { font-size: 1.5rem; color: black; font-weight: bolder; }
.rrssfooter { border: 2px solid #ef3526; padding: 27px 5px 5px 5px; margin-left: 10px; color: black; }
.rrssfooter:hover { color: #fff; background-color: #ef3526}
.minheight300 {min-height: 300px;}
.item { -webkit-transition: 0.4s; -moz-transition: 0.4s; -o-transition: 0.4s; -ms-transition: 0.4s; transition: 0.4s; }
.item:hover { border: 2px solid #ef3526; margin: -2px 0px; }
.itemactivo { border: 2px solid #ef3526; margin: -2px 0px; }
.fondoerrojo {background-image: url(../img/erfondorojo.jpg); background-position: left; background-repeat: no-repeat;}
#Container .mix{ display: none; }
[type="radio"]:not(:checked)+label, [type="radio"]:checked+label { font-size: 1.5rem; color: white; }
[type="radio"]:checked+label:after, [type="radio"].with-gap:checked+label:after { background-color: #bdbdbd; z-index: 0; }
[type="radio"]:checked+label:after, [type="radio"].with-gap:checked+label:before, [type="radio"].with-gap:checked+label:after { border: 2px solid #fff; }
.card .card-title { font-size: 1.5em; font-weight: bold; }
.card .card-content .card-title { line-height: 28px; }
.card .card-content { padding: 10px; }
.hrroja { border-top: 1px solid #ef3526; }
.caption { position: absolute; overflow: hidden; background: transparent; color: #FFF; z-index: 8; width: 100%; height: 100%; background-image: url(../img/er.png); background-size: 198px 148px; background-repeat: no-repeat; mix-blend-mode: multiply; }
.nivo-caption1 { position: absolute; top: 50%; left: 50%; width: auto; height: auto; -ms-transform: translate(-50%, -50%); -webkit-transform: translate(-50%, -50%); transform: translate(-50%, -50%); }
.caption1 h2 { font-size: 6rem; color: black; text-shadow: 3px 3px #fff; font-weight: bolder; }
.caption1 h3 { font-size: 4rem; }
.slider { height: calc(65vh - 55px) !important; width: 100%; }
.slider .slides { height: calc(65vh - 55px) !important; }
.slider .slides li .caption { top: 0%; left: 0%; width: 100%; }
.gallery-cell { width: auto; height: 225px; }
.gallery-cell img { height: 225px; width: auto; }
.parallax-container { height: 225px; }
.overlay { position: absolute; width: 100%; background-color: rgba(0,0,0,0.5); }
.navbar-fixed { height: 60px; }
.side-nav a { font-family: 'Open Sans', sans-serif; }
.fondomapa { position: relative; background-color: #2d2d2e; overflow: hidden; width: 100%; height: auto;  }
.fondomapa iframe { width: 100%; height: 350px; margin-top: -48px; margin-bottom: -5px; }
.trianguloizq { position: absolute; width: 0; height: 0; border-style: solid; border-width: 300px 0 0 200px; border-color: transparent transparent transparent #2d2d2e;}
.trianguloder { position: absolute; top: 0; right: 0; width: 0; height: 0; border-style: solid; border-width: 0 200px 300px 0; border-color: transparent #2d2d2e transparent transparent; }

.input-field label { color: #000; }
.input-field input[type=text]:focus + label { color: #ef3526; }
.input-field input[type=text]:focus { border-bottom: 1px solid #ef3526; box-shadow: 0 1px 0 0 #ef3526; }
.input-field input[type=text].valid { border-bottom: 1px solid #26ef35; box-shadow: 0 1px 0 0 #26ef35; }
.input-field input[type=text].invalid { border-bottom: 1px solid #ef3526; box-shadow: 0 1px 0 0 #ef3526; }
.input-field input[type=email]:focus + label { color: #ef3526; }
.input-field input[type=email]:focus { border-bottom: 1px solid #ef3526; box-shadow: 0 1px 0 0 #ef3526; }
.input-field input[type=email].valid { border-bottom: 1px solid #26ef35; box-shadow: 0 1px 0 0 #26ef35; }
.input-field input[type=email].invalid { border-bottom: 1px solid #ef3526; box-shadow: 0 1px 0 0 #ef3526; }
.input-field input[type=tel]:focus + label { color: #ef3526; }
.input-field input[type=tel]:focus { border-bottom: 1px solid #ef3526; box-shadow: 0 1px 0 0 #ef3526; }
.input-field input[type=tel].valid { border-bottom: 1px solid #26ef35; box-shadow: 0 1px 0 0 #26ef35; }
.input-field input[type=tel].invalid { border-bottom: 1px solid #ef3526; box-shadow: 0 1px 0 0 #ef3526; }
.input-field .prefix.active { color: #000; }
.btn:hover {background-color: #26EF35;}
textarea.materialize-textarea { border-bottom: 1px solid #000; }
textarea.materialize-textarea:focus:not([readonly]){ border-bottom: 1px solid #26EF35; }

@media (max-width:1200px){
  nav ul a { font-size: 1.2em; letter-spacing: 3px; padding: 0px 20px;}
}

@media (max-width:992px){
  .fondoerrojo {background-image: none; }
}
@media (max-width:768px){
    .top-nav { display: block; }
    main {padding-left: 0px;}
    .caption {background-size: 150px 112px;}
    .trianguloizq { border-width: 300px 0 0 100px; }
    .trianguloder { border-width: 0 100px 300px 0; }
}
@media (max-width:520px){
    .slider { height: calc(75vh - 55px) !important; width: 100%; }
    .slider .slides { height: calc(75vh - 55px) !important; }
    h1 { font-size: 4rem; }
    h2 { font-size: 3.46rem; }
    h3 { font-size: 2.82rem; }
    h4 { font-size: 2.18rem; }
    h5 { font-size: 1.54rem; }
    .showxs { display: block; }
    .caption {background-size: 25%;}
    .fondogris { padding-top: 15px; }
}
